<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet">


    <title th:text="算法大全"></title>
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/vue.js}"></script>
    <script th:src="@{/js/axios.min.js}"></script>


    <script th:src="@{/js/echarts.min.js}"></script>
    <script th:src="@{/js/lodash.js}"></script>
</head>

<body>



</body>

</html>
