<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/module::commonHeader('index')">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed navbar-inverse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">匿名算法</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <hr>
    <button id="loadData" @click="loadData()" class="btn btn-primary btn-sm">加载路网数据</button>
    <button id="loadData2" @click="formatData()" class="btn btn-primary btn-sm">格式化数据</button>
    <button id="hiddenTable" @click="showTable=!showTable" class="btn btn-primary btn-sm">隐藏/显示表格</button>
    <button id="draw" @click="draw()" class="btn btn-primary btn-sm">绘制图形</button>
    <hr/>
    <table id="dataTable" class="table table-hover table-bordered" v-show="showTable">
        <thead>
            <tr>
                <th>状态</th>
                <th>ID</th>
                <th>回报编码</th>
                <th>对象类型</th>
                <th>时间点</th>
                <th>X坐标</th>
                <th>Y坐标</th>
                <th>速度</th>
                <th>NextX</th>
                <th>NextY</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in locationData">
                <td>{{ item.status }}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.repNum }}</td>
                <td>{{ item.objClass }}</td>
                <td>{{ item.time }}</td>
                <td>{{ item.x }}</td>
                <td>{{ item.y }}</td>
                <td>{{ item.speed }}</td>
                <td>{{ item.nextX }}</td>
                <td>{{ item.nextY }}</td>
            </tr>
            <tr class="text-muted text-center" v-show="locationData.length == 0">
                <td colspan="10">暂无数据...</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-12">
            <div id="main" style="width: 600px;height:400px;"></div>
        </div>
    </div>
</div>

<script>
    Vue.prototype.$echarts = echarts;
    var vm = new Vue({
        el: ".container",
        data:{
            showTable: true,
            locationData: []
        },
        methods:{
            loadData: function(){
                var me = this;
                axios.get("[[@{/kanon/getData}]]").then(function(response){
                    me.locationData = response.data;
                });
            },
            formatData: function(){
                var me = this;
                    axios.get("[[@{/kanon/getFormatData}]]").then(function(response){
                    me.locationData = response.data;
                });
            },
            draw:function(){
                // 基于准备好的dom，初始化echarts实例
                var myChart = echarts.init(document.getElementById('main'));

                // 转化为数组数据
                var myData = [];
                for(i in this.locationData){
                    var m = [];
                    m.push(this.locationData[i].x);
                    m.push(this.locationData[i].y);
                    myData.push(m);
                }

                console.log(myData);

                // 指定图表的配置项和数据
                var option = {
                    xAxis: {
                        scale: true
                    },
                    yAxis: {
                        scale: true
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    series: [{
                        type: 'effectScatter',
                        symbolSize: 20,
                        data: [
                            [172.7, 105.2],
                            [153.4, 42]
                        ]
                    }, {
                        type: 'scatter',
                        data: myData
                    }]
                };


                // 使用刚指定的配置项和数据显示图表。
                myChart.setOption(option);
            }
        }
    });

</script>
</body>
</html>