<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/vue.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/vue-resource.js}"></script>
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>
    <title>新路网匿名</title>
</head>
<body>
<div class="container-fluid" id="app" style="margin-top: 12px;">
    <div class="row text-left">
        <div class="col-md-7">
            <canvas id="network" width="1000" height="1000" style="border:1px solid #000000;"
                    @click="showInfo($event)">
            </canvas>
        </div>
        <div class="col-md-5">
            <div class="row" style="margin-top: 12px;">
                <div class="col-md-12">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#opt" aria-controls="opt" role="tab"
                                                                      data-toggle="tab">操作面板</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                       data-toggle="tab">日志面板</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content" style="margin: 18px">
                            <div role="tabpanel" class="tab-pane active" id="opt">
                                <button @click="refresh()" class="btn btn-default">刷新</button>
                                <button @click="loadData()" :disabled="loadDataBtnDisabled" class="btn btn-primary ">加载所有用户数据</button>
                                <button @click="loadRoad()" :disabled="loadRoadBtnDisabled" class="btn btn-primary">加载地理路况</button>
                                <button @click="loadUser()" :disabled="loadUserBtnDisabled" class="btn btn-primary">加载目标用户位置数据</button>
                                <hr>
                                <button @click="showReal()" :disabled="showRealBtnDisabled" class="btn btn-danger">显示用户隐私轨迹</button>
                                <button @click="superK()" class="btn btn-danger">superK</button>
                                <hr>
                                <button @click="logs = []" class="btn btn-warning">清空日志</button>
                                <button @click="loadBlock()" class="btn btn-primary">显示区块</button>
                                <button @click="restore()" class="btn btn-primary">清除隐私轨迹</button>
                                <hr>
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网络规格</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control"  v-model="width" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网络大小</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control"  v-model="cellSize" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">随机点个数</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control"  v-model="randomNum" disabled="disabled">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">K值</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control"  v-model="k">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">网格选取阈值</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control"  v-model="threshold">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button @click="change" class="btn btn-danger">修改</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">
                                <hr>
                                <div style="border: 1px  #000000; width: 90%; margin: 0 auto;height: 500px;overflow-y:scroll; overflow-x:scroll;">
                                    <ul>
                                        <li v-for="log in logs">
                                            <span class="text-danger">{{log.time}}: </span> <span class="text-primary">{{log.info}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * App组件
     */
    const app = new Vue({
        data: {
            canvas: null,
            network: null,
            logs: [],
            // 网格配置相关
            cellSize: 10,
            width: 100,
            k:3,
            threshold: 5,
            randomNum: 10000,
            networkData: {},
            loadDataBtnDisabled: false,
            loadRoadBtnDisabled: true,
            loadUserBtnDisabled: true,
            showRealBtnDisabled: false,
            colors: ["red","blue","yellow","black","#20B2AA","green","aqua","purple","#FF00FF", "##00FF00"]
        },
        methods: {
            // 加载所有用户信息数据
            loadData: function(){
                this.loadDataBtnDisabled = true;
                this.loadRoadBtnDisabled = false;
                const cells = this.networkData.cells;
                // 先绘制网格
                this.network.lineWidth = this.cellSize;
                for (let i = 0; i < this.width; i++) {
                    for (let j = 0; j < this.width; j++) {
                        this.network.fillStyle = cells[i][j].color;
                        this.network.fillRect(this.cellSize * i, this.cellSize * j, this.cellSize, this.cellSize);
                    }
                }
            },
            /**
             * 加载路况
             */
            loadRoad: function () {
                this.loadRoadBtnDisabled = true;
                this.loadUserBtnDisabled = false;
                this.logInfo("开始加载实际路况...")
                this.network.lineWidth = this.cellSize;
                const edges = this.networkData.edges
                this.network.strokeStyle = "#555"
                for (let i = 0; i < edges.length; i++) {
                    const edge = edges[i];
                    this.network.moveTo(edge.v1.x, edge.v1.y);
                    this.network.lineTo(edge.v2.x, edge.v2.y);
                    this.network.stroke();
                }

                // 绘制路况端点描述
                const bfs = this.networkData.bfs;
                // this.network.font = "6pt Helvetica"
                this.network.fillStyle = "black";
                for (let i = 0; i < bfs.length; i++) {
                    const v = bfs[i];
                    const textLocation = this.getSuitLocation(v.x, v.y);
                    this.network.fillText(v.name + "(" + v.x  + "," + v.y  + ")",textLocation.x,textLocation.y);

                }
                this.logInfo("实际路况加载完毕...")
            },
            /**
             *  加载目标用户坐标信息数据
             */
            loadUser: function(){
                this.loadUserBtnDisabled = true;
                this.showRealBtnDisabled = false;
                const movePoint = this.networkData.movePoint;
                this.network.font = "10pt Helvetica"
                this.network.fillStyle = "green";
                for (let i = 0; i < movePoint.length; i++) {
                    const v = movePoint[i];
                    // 画圆
                    this.network.beginPath();
                    this.network.arc(v.x,v.y,5,0,Math.PI * 2);
                    this.network.closePath();
                    this.network.fill();
                    const textLocation = this.getSuitLocation(v.x, v.y);
                    this.network.fillText(v.name + "(" + v.x  + "," + v.y  + ")",textLocation.x,textLocation.y);
                }
                this.network.save();
            },
            /**
             *  绘制实际隐私数据
             */
            showReal: function(){
                const movePath = this.networkData.movePath;
                this.network.strokeStyle = "green"
                this.network.lineWidth = this.cellSize;
                for (let i = 0; i < movePath.length; i++) {
                    const edge = movePath[i];
                    this.network.moveTo(edge.v1.x, edge.v1.y);
                    this.network.lineTo(edge.v2.x, edge.v2.y);
                    this.network.stroke();
                }

            },
            loadBlock: function(){
                const blocks = this.networkData.blocks;
                for (let i = 0; i < blocks.length; i++) {
                    const block = blocks[i];
                    this.network.fillStyle = this.colors[i % this.colors.length];
                    this.network.fillRect(block.vertexes[0].x,block.vertexes[0].y, block.vertexes[2].x - block.vertexes[0].x,block.vertexes[2].y - block.vertexes[0].y);
                }
            },
            restore: function(){
                this.network.clearRect(0,0,this.network.width, this.network.height);
                this.loadData();
                this.loadRoad();
                this.loadUser();
            } ,
            superK: function(){
                const userWithAnons = this.networkData.superK.userWithAnons;
                this.network.fillStyle = "red";
                for (let i = 0; i < userWithAnons.length; i++) {
                    const cells = userWithAnons[i].cells;
                    for (let j = 0; j < cells.length; j++) {
                        this.network.fillRect(this.cellSize * cells[j].x,this.cellSize * cells[j].y , this.cellSize, this.cellSize);
                    }
                }
            },
            /**
             * 显示位置信息
             */
            showInfo: function (e) {
                const location = this.getLocation(e.clientX, e.clientY);
                this.logInfo("当前位置：x=" + Math.floor(location.x) + " ,y=" + Math.floor(location.y));
            },
            /**
             * 获取位置信息
             */
            getLocation: function (x, y) {
                const bbox = this.canvas.getBoundingClientRect();
                return {
                    x: (x - bbox.left) * (this.canvas.width / bbox.width),
                    y: (y - bbox.top) * (this.canvas.height / bbox.height)
                };
            },
            /**
             * 记录日志
             */
            logInfo: function(info){
                this.logs.push({
                    info: info,
                    time: this.getNowTime()
                })
            },
            refresh: function(){
              location.reload();
            },
            /**
             * 获取格式化时间
             */
            getNowTime: function () {
                const date = new Date();
                return this.add0(date.getHours()) + ':' + this.add0(date.getMinutes()) + ':' + this.add0(date.getSeconds());
             },
            /**
             * 更改配置参数
             */
            change: function(){
                this.$http.get("[[@{/network/change/" + this.k + "/" + this.threshold + "}]]")
                    .then(function (response) {
                        this.restore();
                        this.networkData = response.body;
                        this.logInfo("更改后计算完毕...")
                    })
            },
            /**
             * 格式化日期补0
             */
            add0: function (s) {
                return s < 10 ? '0' + s : s;
            },
            /**
             * 获取名称适合放置的坐标点
             */
            getSuitLocation(x,y){
                return {
                    x: (x + 15) >= this.width * 10 ? x - 15: x + 15,
                    y: (y + 15) >= this.width * 10 ? y - 15: y + 15,
                }
            }
        },
        mounted: function () {
            this.logInfo("初始化画布...")
            this.canvas = document.getElementById("network");
            this.network = document.getElementById("network").getContext("2d");
            this.logInfo("加载路网数据...")
            this.$http.get("[[@{/network/loadData}]]")
                .then(function (response) {
                    this.networkData =response.body;
                    this.logInfo("路网数据加载完毕...")
                })
        }
    }).$mount("#app");

</script>
</body>

</html>